/* ѣ */


/**
 * fonts
 */
@font-face{
	font-family: 'Fira Sans';
	src: local('Fira Sans Light'),
		url('../fonts/FiraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Fira Sans';
	src: local('Fira Sans Regular'),
		url('../fonts/FiraSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


/**
 * global
 */
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}


/**
 * along the tree
 */

