/* ѣ */

/**
 * colours
 * http://www.colourlovers.com/palette/124429
 */
@blue: #4A748C;
@orange: #EA7525;


/**
 * fonts
 */
@font-face{
	font-family: 'Fira Sans';
	src: local('Fira Sans Light'),
		url('../fonts/FiraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Fira Sans';
	src: local('Fira Sans Regular'),
		url('../fonts/FiraSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


/**
 * global
 */
html, body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 100%;
	text-rendering: optimizeLegibility;
}

button {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	height: 50px;
	letter-spacing: normal;
	line-height: 50px;
	margin: 0;
	text-transform: none;
}


/**
 * along the tree
 */
header {
	line-height: 50px;
	padding: 20px 10px 15px 10px;
	h1 {
		font-size: 50px;
		line-height: 50px;
		margin: 0;
	}
	.controls {
		.hidden {
			visibility: hidden;
		}
		select {
			margin: 0;
			width: 100%;
		}
		input[type=text] {
			margin: 0;
			width: 100%;
		}
		input[type=file] {
			display: none;
		}
		button {
			padding: 0;
			text-align: center;
			width: 100%;
		}
	}
}

main {
	height: -webkit-calc(~"100% - 86px");
	height: -moz-calc(~"100% - 86px");
	height: calc(~"100% - 86px");
}

.map {
	height: 100%;
	width: 100%;
	.language-marker {
		background-color: @blue;
		border-radius: 50%;
		box-shadow: 0px 0px 2px 0px white;
		color: white;
		font-weight: 500;
		height: 24px !important;
		line-height: 24px;
		margin-left: -12px !important;
		margin-top: -12px !important;
		opacity: 0.9;
		text-align: center;
		width: 24px !important;
		&.highlight-secondary {
			background-color: @orange;
		}
		&.highlight-primary {
			background-color: red;
		}
	}
	.point {
		
	}
	.circle {
		
	}
}

footer {
	.messages {
		bottom: 10px;
		left: 10px;
		position: absolute;
		.message {
			color: white;
			font-size: 18px;
			height: 50px;
			line-height: 50px;
			padding: 0 18px;
			&.error {
				background-color: @orange;
			}
			&.success {
				background-color: @blue;
			}
			&.info {
				background-color: @blue;
			}
		}
	}
}

