<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	
	<title>JS Tests &laquo; kalakukko</title>
	
	{% load static from staticfiles %}
	
	<link rel="stylesheet" type="text/css" href="qunit/qunit.css" />
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
	
	<script type="text/javascript" src="{% static 'scripts/vendor.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
	
	<script src="qunit/qunit.js"></script>
	
	<script src="test_charts.js"></script>
	<script src="test_maps.js"></script>
	<script src="test_modes.js"></script>
	
	{% autoescape off %}
	<script type="text/javascript">
	var LANGUAGES = {{ languages }};
	</script>
	{% endautoescape %}
</body>
</html>
