{% extends "base.html" %}

{% block description %}{% spaceless %}
Welcome to Kalakukko!
{% endspaceless %}{% endblock %}
{% block title %}Hallo{% endblock %}


{% block controls %}
<div class="row">
	<div class="three columns">
		<div class="parameter-input hidden">
			<div class="input-group radius-input">
				<button type="button">r</button>
				<input type="text"
					name="value"
					value="1500"
					/>
			</div>
			<div class="input-group k-input hidden">
				<button type="button">k</button>
				<input type="text"
					name="value"
					value="10"
					/>
			</div>
		</div>
	</div>
	<div class="three columns">
		<div class="button-group method-select hidden">
			<button type="button"
				data-value="circle"
				class="active"
				>circle</button>
			<button type="button"
				data-value="neighbourhood"
				>ref</button>
		</div>
	</div>
	<div class="three columns">
		<div class="button-group mode-select hidden">
			<button type="button"
				data-value="point"
				class="active"
				>point</button>
			<button type="button"
				data-value="heat"
				>honey</button>
		</div>
	</div>
	<div class="three columns">
		<input type="file" name="file" />
		<button type="button"
			class="file-button"
			>set source</button>
	</div>
</div>
{% endblock %}


{% block main %}
<div class="map" data-maps="map"></div>
{% endblock %}


{% block scripts %}
{% autoescape off %}
<script type="text/javascript">
var LANGUAGES = {{ languages }};
var OSM_ACCESS_TOKEN = '{{ OSM_ACCESS_TOKEN }}';
var OSM_ID = '{{ OSM_ID }}';
</script>
{% endautoescape %}
{% endblock %}
