{% extends "base.html" %}

{% block description %}{% spaceless %}
Welcome to Kalakukko!
{% endspaceless %}{% endblock %}
{% block title %}Hallo{% endblock %}


{% block main %}
<div class="row">
	<div class="twelve columns">
		<div class="map" data-maps="map"></div>
	</div>
	<!--div class="three columns">
		
	</div-->
</div>
{% endblock %}

{% block scripts %}
{% autoescape off %}
<script type="text/javascript">
var LANGUAGES = {{ languages }};
var OSM_ACCESS_TOKEN = '{{ OSM_ACCESS_TOKEN }}';
var OSM_ID = '{{ OSM_ID }}';
</script>
{% endautoescape %}
{% endblock %}
