{% extends "base.html" %}

{% block description %}{% spaceless %}
Welcome to Kalakukko!
{% endspaceless %}{% endblock %}
{% block title %}Hallo{% endblock %}


{% block controls %}
<div class="row">
	<div class="three columns">
		<select name="variable" class="hidden">
			<option value="circle">radius</option>
			<option value="neighbourhood">nearest</option>
		</select>
	</div>
	<div class="three columns">
		<input type="text"
			name="value"
			value="1500"
			class="hidden"
			/>
	</div>
	<div class="three columns">
		<select name="mode" class="hidden">
			<option value="point">pointmap</option>
			<option value="heat">honeycomb</option>
		</select>
	</div>
	<div class="three columns">
		<input type="file" name="file" />
		<button type="button"
			>set source</button>
	</div>
</div>
{% endblock %}


{% block main %}
<div class="map" data-maps="map"></div>
{% endblock %}


{% block scripts %}
{% autoescape off %}
<script type="text/javascript">
var LANGUAGES = {{ languages }};
var OSM_ACCESS_TOKEN = '{{ OSM_ACCESS_TOKEN }}';
var OSM_ID = '{{ OSM_ID }}';
</script>
{% endautoescape %}
{% endblock %}
